
*{
 margin: 0;
 padding: 0;
  background-color: cornsilk;
  text-align: center;
}
.top {
 
  color: blueviolet;
  background-color:lightblue;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
}

form input {
  padding: 20px;
  border: 1px solid blueviolet;
  
}
